<app-dialog-modal [title]="title" size="medium">
  <div xmodal-body>

    <form class=" m-t-10 row" #deviceComponentForm="ngForm" (ngSubmit)="save()">
      <div class="form-group col-md-12">
          <label>Component Name </label>
          <input type="text" name="componentName" required #componentName="ngModel" [(ngModel)]="component.componentName" class="form-control form-control-line" >
      </div>
      <div class="form-group col-md-12">
          <label for="example-email">Component Short Name </label>
          <input type="text" name="shortName" required #shortName="ngModel"  [(ngModel)]="component.shortName"  class="form-control">
      </div>
      <div class="form-group col-md-12">
          <label>Component Manufacturer</label>
          <input name="manufacturer" #manufacturer="ngModel" required  [(ngModel)]="component.manufacturer" type="text" class="form-control">
      </div>

      <div class="form-group col-md-12">
        <label>Description</label>
        <textarea class="form-control" rows="3" name="description" required #description="ngModel"  [(ngModel)]="component.description" placeholder="Description..."></textarea>
    </div>


      <!-- <div class="form-group">
          <label>Description</label>
          <textarea [disabled]="isEdit" class="form-control" rows="3" name="description" required #description="ngModel"  [(ngModel)]="acquirer.description" placeholder="Description..."></textarea>
      </div> -->
  </form>
  </div>

  <div xmodal-footer class="dialog-modal-footer" style="width: 100%;">
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-outline-secondary float-left"
        (click)="close()"
      >
       Cancel
      </button>
      <button
      (click)="deviceComponentForm.ngSubmit.emit()"
        type="button"
        class="btn btn-outline-primary float-right ml-2"
      >
        Save
      </button>
    </div>
  </div>
</app-dialog-modal>
