<div class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor">Audit</h3>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">Audit</a></li>
          <li class="breadcrumb-item active">Audit List</li>
      </ol>
    </div>
    <div class="col-md-7 align-self-center text-right d-none d-md-block">
        <button type="button" class="btn btn-info"><i class="fa fa-plus-circle"></i> Import</button>
    </div>
  </div>

  <div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h5 class="card-title">Audit</h5>
                    </div>
                </div>
                <div class="table-responsive m-t-20 no-wrap">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Ip Address</th>
                                <th>Narration</th>
                                <th>Controller</th>
                                <th>Action</th>
                                <th>Access Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let audit of audits">
                              <td>{{ audit['userName'] }}</td>
                              <td>{{ audit['ipAddress'] }}</td>
                              <td>{{ audit['narration'] }}</td>
                              <td>{{ audit['controller'] }}</td>
                              <td>{{ audit['action'] }}</td>
                              <td>{{ audit['accessTime'] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->

  </div>

</div>
