<div class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor">Acquirers</h3>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">Acquirer</a></li>
          <li class="breadcrumb-item active">Acquirer List</li>
      </ol>
    </div>
    <div class="col-md-7 align-self-center text-right d-none d-md-block">
        <button (click)="openCreateModal()" type="button" class="btn btn-info"><i class="fa fa-plus-circle"></i> Creat New</button>
    </div>
  </div>

  <div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h5 class="card-title">Acquirers</h5>
                    </div>
                </div>
                <div class="table-responsive m-t-20 no-wrap">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Short Name</th>
                                <th>Code</th>
                                <th>Email Surffix</th>
                                <th>Phone</th>
                                <th>Contact</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let acquirer of acquirers">
                              <td>{{ acquirer['acquirerFullName'] }}</td>
                              <td>{{ acquirer['acquirerShortName'] }}</td>
                              <td>{{ acquirer['acquirerCode'] }}</td>
                              <td>{{ acquirer['emailSuffix'] }}</td>
                              <td>{{ acquirer['contactPhone'] }}</td>
                              <td>{{ acquirer['contactFirstName'] == null ? "" : acquirer['contactFirstName']  + " " + acquirer['contactLastName'] == null ? "" : acquirer['contactLastName'] }}</td>
                              <td>{{ acquirer['dateCreated'] }}</td>
                              <td>
                                <a tooltip="Edit" (click)="openEditModal(acquirer.id)"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a tooltip="View" (click)="viewAcquirer(acquirer.id)"> <i class="fas fa-eye m-r-10"></i></a>
                                <a href="#" tooltip="Delete"> <i class="fa fa-close text-danger"></i> </a>
                              </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->

  </div>

</div>


<app-acquirer-view></app-acquirer-view>
<app-acquirer-create-edit></app-acquirer-create-edit>
