<!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
          <!-- Sidebar scroll-->
          <div class="scroll-sidebar">
              <!-- Sidebar navigation-->
              <nav class="sidebar-nav">
                  <ul id="sidebarnav">
                      <li> <a class="waves-effect" [routerLink]="'/'" aria-expanded="false"><i class="icon-Car-Wheel"></i><span class="hide-menu">Dashboard </span></a>

                      </li>
                      <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="icon-Double-Circle"></i><span class="hide-menu">Reports</span></a>
                          <ul aria-expanded="false" class="collapse">
                            <li><a class="has-arrow">Transaction</a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a [routerLink]="'/transaction/history'">History</a></li>
                                </ul>
                            </li>

                          </ul>
                      </li>
                      <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="icon-Box-Full"></i><span class="hide-menu">Terminal</span></a>
                          <ul aria-expanded="false" class="collapse">
                              <li><a [routerLink]="'/terminal'">Terminal List</a></li>
                              <li><a class="has-arrow">Terminal Management</a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="pages-login.html">Device Componenet</a></li>
                                    <li><a href="pages-login.html">Key Exchange</a></li>
                                </ul>
                            </li>
                            <li><a class="has-arrow">Adminsitration</a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="pages-login.html">Add Terminal</a></li>
                                </ul>
                            </li>
                          </ul>
                      </li>
                      <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="icon-On-Off-3"></i><span class="hide-menu">Users & Access Mgt</span></a>
                          <ul aria-expanded="false" class="collapse">
                              <li><a [routerLink]="'/admin/users'">Users List</a></li>
                              <li><a [routerLink]="'/admin/roles'">Role List</a></li>
                              <li><a [routerLink]="'/admin/permissions'">Permission List</a></li>
                              <li><a [routerLink]="'/admin/audits'">System Audit</a></li>
                          </ul>
                      </li>
                      <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="icon-Windows-2"></i><span class="hide-menu">Devices</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a [routerLink]="'/device/components'">Components</a>

                            </li>
                            <li><a [routerLink]="'/device/types'">Device Type</a>

                            </li>
                            <li><a [routerLink]="'/device/models'">Device Model</a>

                            </li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="icon-Windows-2"></i><span class="hide-menu">Acquirer Mgt</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a [routerLink]="'/acquirer'">Acquirer List</a></li>
                        </ul>
                    </li>
                    <li> <a [routerLink]="'/dispute'" class="waves-effect waves-dark" aria-expanded="false"><i class="icon-Windows-2"></i><span class="hide-menu">Dispute Management</span></a>
                    </li>

                  </ul>
              </nav>
              <!-- End Sidebar navigation -->
          </div>
          <!-- End Sidebar scroll-->
      </aside>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
